// Spriting
/*$common-spacing: 20px;
$transparent-spacing: 20px;
@import "common/*.png";
@import "transparent/*.png";*/

// Colors


// Default variables
$default-border-radius: 3px;
$default-transition-property: all;
$default-transition-duration: 0.25s;
$default-transition-function: ease-in-out;
$default-transition-delay: false;

//Responsive sizes
$small: '(max-width: 640px)';
$medium: '(max-width: 800px)';

/* @group basic elements */
* {
	@include box-sizing(border-box);
}

body {
	background: #fff;
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img {
	display: block;
	
	.lte7 & {
		-ms-interpolation-mode: bicubic;
	}
}

a {
	
	&:hover {
		
	}
}
/* @end */