// Spriting


// Colors


// Default variables
$default-transition-property: all;
$default-transition-duration: 0.25s;
$default-transition-function: ease-in-out;
$default-transition-delay: false;

//Responsive sizes
$breakpoint-small-width: 640px;
$breakpoint-medium-width: 800px;