/* @group utility */
	.clearing {
		clear: both;
	}

	.container {
		overflow: hidden;
	}

	.contain:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}

	.lte7 .contain {
		height: 1%;
	}

	.screen-reader {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
	}

	.alt {
		display: block;
		overflow: hidden;
		text-indent: -9999px;
	}

	.hide,
	.js .js-hide {
		display: none;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.no-float {
		float: none;
	}

	.block {
		display: block;
	}

	.centered {
		text-align: center;
	}
/* @end */